<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Built heritage</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class = "built">
  <div> <h1>Built heritage</h1>
<h2>Several islands and smaller skerries were included
   into a chain of isolated lighthouses, which significantly improved
   the navigation security on the main route to Açores.</h2>
   <p>The lightouse crew used to work in three-days shifts, rotating between the total of 23 lightouses
     which were co-founded by Norway, Iceland and Faeroers. The crews sailed in groups between the islands,
     either windsurfing in summer, or on yachts during the winter gales. This ensured a good balance
     between physical effort and a rather sedentary work of a lighthouse operator.
   </p></div>
    <!-- <p>This is my nth route.</p> -->
    <!-- <img src="/images/built.jpg" /> -->
<div class = "links">
    <a href="/">Back to Home</a>
    <a href="/trips">See the escapades</a>
    <a href="/discoveries">Discoveries</a>
    <a href="/built">Built heritage</a>
  </div>
  </body>
</html>
