<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Discoveries</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class = "discoveries">
  <div><h1>Discoveries</h1>
    <h2>Sailing through the uncharted territories of the North Sea, 
      Claaszen had discovered several archipelagos, some of size of the Lofoten.</h2>
   <p>Lorem ipsum lorem ave ipsum lorem xD ipsum lorem html ipsum lorem Lorem ipsum lorem
     ipsum lorem ipsum lorem quid ipsum lorem Lorem ipsum lorem ipsum
     lorem ipsum lorem satis est satius ipsum lorem</p>
      <p>This is my second route</p></div>

    <!--<img src="/images/discov.jpg" />

    <img src="/images/discov2.jpg" />-->
<div class="links">
    <a href="/">Back to Home</a>
    <a href="/trips">See the escapades</a>
    <a href="/discoveries">Discoveries</a>
    <a href="/built">Built heritage</a></div>
  </body>
</html>
