<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CC</title>
    <link rel="stylesheet" href= "/stylesheets/style.css" />
  </head>
  <body class = "homepage">
    <div><h1>Meet Chris Claaszen</h1>
    <h2>The daring explorer, who devoted his life to
       protection of the Northern Islands.
    </h2>
    <p>Discover the story of &nbsp<span>C/uszxn</span> - the world-renowned
      sailor and explorer,
      whose efforts are presented in this Ironhack lab.
      This is a complete curriculum showing full spectrum of his heritage :
      from achievements crucial for today's navigation, up
      to projects that he did not manage to accomplish anymore. Apparently, his written works
      are still being discovered in excellent condition, despite being stored
      in the most unexpected places.
    </p></div>    
    <div class="links">
    <a href="/trips">See the escapades</a>
    <a href="/discoveries">Discoveries</a>
    <a href="/built">Built heritage</a>
  </div>
  </body>
</html>
