<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CC</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
  </head>
  <body>
    <h1>Meet Chris Classen</h1>
    <h2>The daring explorer, who devoted his life to
       protection of the Northern Islands.
    </h2>
    <p>Discover the story of Chris Claaszen, the world renowned
      sailor and explorer, whose story is shown in this Ironhack lab.
    </p>
    <img src="/public/images/homepage.jpg" />
    
    
    <a href="/views/trips.html">See the escapades</a>
    <a href="/views/discoveries.html">Discoveries</a>
    <a href="/views/built.html">Built heritage</a>
  </body>
</html>
