<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Trips</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class = "trips">
  <div><h1>Voyages</h1>
    <h2>Despite his passion for the peripheries of the North Sea, Claaszen
      have accomplished several windsurfing crossings of Baltic sea.</h2>
      <p>Those included both short distance sprints as well as several days marathons. Typically,
        a "short" was an east-west passage between Sweden and Finland, that he usually managed
        to accomplish within 24 hours. On the other hand, the great North-South ride started
        in the Gulf of Bothnia and finished in the Vistula Bay. These took ten days at minimum.
        Occasionally, he would organise a Grand Slalom between the Aland Islands, including
        camping on uninhabited islands.

      </p></div>
    <!-- <p>This is my second route. Trips.</p> -->
    <!-- <img src="/images/trips.jpg" /> -->
<div class = "links">
    <a href="/">Back to Home</a>
    <a href="/trips">See the escapades</a>
    <a href="/discoveries">Discoveries</a>
    <a href="/built">Built heritage</a>
  </div>  
  </body>
</html>
