@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;800&display=swap');

body {
    color: rgb(40, 37, 41);
    background-color: bisque;

    font-family : Overpass;
    font-weight: 400;
    font-size: 20px;
    

  }

  p {
    font-size: 30px
  }
